.btn-border, .btn-shade {
  padding: 15px 20px !important;
  margin: 0 !important;
  text-align: center !important;
  display: block !important;
  float: left;
  border: none;
  font-weight: 700 !important;
  font-size: 100% !important;
  line-height: 100% !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  text-decoration: none !important;
}

// Button Border
.btn-border {
	border-width: 2px !important;
	border-style: solid !important;
}

// Button Border and Text Colors
.btn-border-blue {
	border-color: color('blue', 'base') !important;
  color: color('blue', 'base') !important;
  &:hover, &:focus {
    color: color('shades', 'white') !important;
    background: color('blue', 'base') !important;
  }
}
.btn-border-gray {
	border-color: color('gray', 'base') !important;
  color: color('gray', 'base') !important;
  &:hover, &:focus {
    color: color('shades', 'white') !important;
    background: color('gray', 'base') !important;
  }
}
.btn-border-white {
  border-color: color('shades', 'white') !important;
  color: color('shades', 'white') !important;
  &:hover, &:focus {
    color: color('blue', 'base') !important;
    background: color('shades', 'white') !important;
  }
}

// Button Shades and Text Colors 
.btn-shade-blue {
  background: color('blue', 'base') !important;
  color: color('shades', 'white') !important;
  &:hover, &:focus {
    color: color('shades', 'white') !important;
    background: color('blue', 'dark-1') !important;
  }
}
.btn-shade-gray {
  background: color('gray', 'base') !important;
  color: color('shades', 'white') !important;
  &:hover, &:focus {
    color: color('shades', 'white') !important;
    background: color('gray', 'base') !important;
  }
}
.btn-shade-white {
  background: color('shades', 'white') !important;
  color: color('gray', 'base') !important;
  &:hover, &:focus {
    color: color('shades', 'white') !important;
    background: color('gray', 'base') !important;
  }
}