.image-box {
	.overlay-container {
		position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    &:hover {
    	.overlay-bottom, .overlay-top{
	    	height: 50%;
		    opacity: 1;
		    @include filter('alpha(opacity=100)');
		    @include backface-visibility('hidden');
		    @include transform('translateZ(0)');
		    @include transform('scale(1,1)');
    	}
    	.overlay-to-top{
				height: 100%;
		    opacity: 1;
		    @include filter('alpha(opacity=100)');
		    @include backface-visibility('hidden');
		    @include transform('translateZ(0)');
		    @include transform('scale(1,1)');
    	}
    }
    .text{
    	padding-top: 0;
    	padding-left: 50px;
    	padding-right: 50px;
			position: relative;
    }
		.overlay-bottom , .overlay-to-top{
			color: color('shades', 'white');
	    position: absolute;
	    top: 0;
	    bottom: 0px;
	    left: 0;
	    right: 0;
	    background-color: rgba(color('gray', 'dark-4'),.5);
	    opacity: 0;
	    @include filter('alpha(opacity=0)');
	    padding: 10px;
    	height: 0;
	    overflow: hidden;
	    @include transition(all ease-in-out .25s);
	    @include backface-visibility('hidden');
		  @include transform('translateZ(0)');
	    @include transform('scale(1,1)');
		}
		.overlay-top {
			@extend .overlay-bottom;
			top: 10px;
		}
		.overlay-to-top {
			top: 0;
		}
	}
}

