// Utility Color Classes
$gray: (
	"base": 		#F7F7F7,
	"light-1": 	#C6C6C6,
	"light-2":  #C8C8C8,
	"dark-1": 	#5E5E5E,
	"dark-2": 	#282828,
	"dark-3": 	#161616,
	"dark-4": 	#4D4136	
);

$blue: (
	"base": 	#1F7EDD,
	"dark-1": #1C71C7
);

$shades: (
	"transparent": transparent,
	"white": #FFFFFF,
	"black": #000000
);

$colors: (
	"gray": $gray,
	"blue": $blue,
	"shades": $shades
);

// Color Classes
@each $color_name, $color in $colors {
	@each $color_type, $color_value in $color {
		@if $color_type == "base" {
			.#{$color_name} {
				background: $color_value !important;
			}
			.#{$color_name}-text {
				color: $color_value !important;
			}
		}
		@else {
			.#{$color_name}.#{$color_type} {
				background: $color_value !important;
			}
			.#{$color_name}-text.text-#{$color_type} {
				color: $color_value !important;
			}
		}
	}
}

// Shade Classes
@each $color, $color_value in $shades {
	.#{$color} {
		background: $color_value !important;
	}
	.#{$color}-text {
		color: $color_value !important;
	}
}

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}