article#content {
	padding-top: 50px;
	@media #{$md-and-down} {
		float: left;
		display: block;
	}
	& > div#ourServices {
		@media #{$md-and-down} {
			padding-bottom: 50px;
		}
	}
	& > div#intro,
	& > div#whoWeAre,
	& > div#ourServices {
		@media #{$md-and-down} {
			height: auto;
			display: block !important;
			float: left;
			@include align-items('unset');
		}
	}
}