footer#site-footer {
	background: color('gray', 'dark-3');
	padding: 45px 0;
	margin: 0 auto;
	float: left;
	width: 100%;
	max-width: 100%;
	.container {
		@media #{$sm-and-down} {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.widgets {
		h4 {
			color: color('shades', 'white');
			margin-bottom: 15px;			
			font-size: 15px;
			font-weight: 700;
			letter-spacing: .125em;
			text-transform: uppercase;
			font-family: $font-family-colfax-regular !important;
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				padding: 0;
				width: 100%;
				float: left;
				text-align: left;
				font-size: 11px;
				font-weight: 700;
				letter-spacing: .125em;
				text-transform: uppercase;
				line-height: 2.5em;
				color: color('gray', 'light-1');
				a {
					color: color('gray', 'light-1');
					text-transform: uppercase;
					font-size: 12px;
					text-decoration: none;
					&:focus, &:hover {
						color: color('blue', 'base');
					}
				}
			}
		}
		.menu-area {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	.bottom-footer {
		#footer-logo, #copyright, #social-media {
			padding-top: 15px;
			padding-bottom: 15px;
			display: block;
			float: left;
		}
		#footer-logo {
			img {
				color: color('shades', 'white');
				text-transform: uppercase;
				font-weight: 700;
				font-size: 20px;
			}
		}
		#copyright {
			h5 {
				color: color('shades', 'white');
				font-size: 11px;
				font-weight: 700;
				letter-spacing: .125em;
				text-transform: uppercase;
			}
			&.text-center {
				@media #{$sm-and-down} {
					text-align: unset;
				}
			}
		}
		#social-media {
			ul {
				width: auto;
				margin: 0 auto;
				text-align: center;
				@media #{$md-and-down} {
					text-align: left;
				}
				li {
					display: inline;
					padding: 0 10px;
					a {
						color: color('shades', 'white');
						text-decoration: none;
						text-align: center;
						font-size: 24px;
						&:focus, &:hover {
							color: color('blue', 'base');
						}
					}
				}
			}
		}
	}
}