html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Colfax-Light';
  src: url(../fonts/Colfax-Light.eot);
  src: url(../fonts/Colfax-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Colfax-Light.woff) format("woff"), url(../fonts/Colfax-Light.ttf) format("truetype"), url(../fonts/Colfax-Light.svg#svgFontName) format("svg");
}
@font-face {
  font-family: 'Colfax-Regular';
  src: url(../fonts/Colfax-Regular.eot);
  src: url(../fonts/Colfax-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Colfax-Regular.woff) format("woff"), url(../fonts/Colfax-Regular.ttf) format("truetype"), url(../fonts/Colfax-Regular.svg#svgFontName) format("svg");
}
@font-face {
  font-family: 'Colfax-Medium';
  src: url(../fonts/Colfax-Medium.eot);
  src: url(../fonts/Colfax-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Colfax-Medium.woff) format("woff"), url(../fonts/Colfax-Medium.ttf) format("truetype"), url(../fonts/Colfax-Medium.svg#svgFontName) format("svg");
}
@font-face {
  font-family: 'Colfax-Bold';
  src: url(../fonts/Colfax-Bold.eot);
  src: url(../fonts/Colfax-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Colfax-Bold.woff) format("woff"), url(../fonts/Colfax-Bold.ttf) format("truetype"), url(../fonts/Colfax-Bold.svg#svgFontName) format("svg");
}
@font-face {
  font-family: 'Source-Light';
  src: url(../fonts/SourceSansPro-Light.eot);
  src: url(../fonts/SourceSansPro-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Light.woff) format("woff"), url(../fonts/SourceSansPro-Light.ttf) format("truetype"), url(../fonts/SourceSansPro-Light.otf) format("otf");
}
@font-face {
  font-family: 'Source-Regular';
  src: url(../fonts/SourceSansPro-Regular.eot);
  src: url(../fonts/SourceSansPro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Regular.woff) format("woff"), url(../fonts/SourceSansPro-Regular.ttf) format("truetype"), url(../fonts/SourceSansPro-Regular.otf) format("otf");
}
@font-face {
  font-family: 'Source-Bold';
  src: url(../fonts/SourceSansPro-Bold.eot);
  src: url(../fonts/SourceSansPro-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Bold.woff) format("woff"), url(../fonts/SourceSansPro-Bold.ttf) format("truetype"), url(../fonts/SourceSansPro-Bold.otf) format("otf");
}
html {
  line-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  font-weight: normal;
}

body {
  font-family: "Source-Regular", sans-serif !important;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: "Source-Regular", sans-serif;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem auto 1.68rem;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem auto 1.424rem;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem auto 1.168rem;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem auto 0.912rem;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem auto 0.656rem;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem auto 0.4rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

p, li {
  font-family: "Source-Light", sans-serif;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

.gray {
  background: #F7F7F7 !important;
}

.gray-text {
  color: #F7F7F7 !important;
}

.gray.light-1 {
  background: #C6C6C6 !important;
}

.gray-text.text-light-1 {
  color: #C6C6C6 !important;
}

.gray.light-2 {
  background: #C8C8C8 !important;
}

.gray-text.text-light-2 {
  color: #C8C8C8 !important;
}

.gray.dark-1 {
  background: #5E5E5E !important;
}

.gray-text.text-dark-1 {
  color: #5E5E5E !important;
}

.gray.dark-2 {
  background: #282828 !important;
}

.gray-text.text-dark-2 {
  color: #282828 !important;
}

.gray.dark-3 {
  background: #161616 !important;
}

.gray-text.text-dark-3 {
  color: #161616 !important;
}

.gray.dark-4 {
  background: #4D4136 !important;
}

.gray-text.text-dark-4 {
  color: #4D4136 !important;
}

.blue {
  background: #1F7EDD !important;
}

.blue-text {
  color: #1F7EDD !important;
}

.blue.dark-1 {
  background: #1C71C7 !important;
}

.blue-text.text-dark-1 {
  color: #1C71C7 !important;
}

.shades.transparent {
  background: transparent !important;
}

.shades-text.text-transparent {
  color: transparent !important;
}

.shades.white {
  background: #FFFFFF !important;
}

.shades-text.text-white {
  color: #FFFFFF !important;
}

.shades.black {
  background: #000000 !important;
}

.shades-text.text-black {
  color: #000000 !important;
}

.transparent {
  background: transparent !important;
}

.transparent-text {
  color: transparent !important;
}

.white {
  background: #FFFFFF !important;
}

.white-text {
  color: #FFFFFF !important;
}

.black {
  background: #000000 !important;
}

.black-text {
  color: #000000 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center {
  width: 100%;
  height: 100vh;
  display: table;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}

a, button, input, textarea {
  -moz-transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  -webkit-transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  -o-transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  -ms-transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -o-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

a {
  text-decoration: none;
  outline: none !important;
}

a:hover, a:focus {
  outline: none !important;
}

.hidden {
  visibility: hidden;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  .hero {
    padding-top: 30px;
  }
}
.hero h1, .hero h2, .hero h3, .hero h4 {
  font-family: "Source-Light", sans-serif;
  color: #282828;
  font-weight: 300;
}
.hero h5 {
  font-family: "Source-Regular", sans-serif;
  color: #282828;
}
.hero h1 {
  margin-top: .75em;
  font-size: 78px;
}
@media only screen and (max-width: 600px) {
  .hero h1 {
    font-size: 25px;
    font-weight: 300;
  }
}
.hero h2 {
  font-size: 48px;
}
@media only screen and (max-width: 600px) {
  .hero h2 {
    font-size: 24px;
    font-weight: 300;
  }
}
.hero h4 {
  font-size: 15px;
}
@media only screen and (max-width: 600px) {
  .hero h4 {
    font-size: 10px;
    font-weight: 300;
  }
}
.hero p {
  font-size: 20px;
  margin: 1.5em 0 2em;
}
@media only screen and (max-width: 600px) {
  .hero p {
    font-size: 12px;
  }
}
.hero .carousel-inner {
  min-height: 400px;
  max-height: 400px;
}
.hero .cta {
  position: absolute;
  left: -250px;
  transition: left 1s;
  opacity: 0;
}
.hero .cta.visible {
  left: 15px;
  opacity: 1;
  position: absolute;
  -moz-animation: slideInLeft 1s forwards !important;
  -webkit-animation: slideInLeft 1s forwards !important;
  -o-animation: slideInLeft 1s forwards !important;
  -ms-animation: slideInLeft 1s forwards !important;
  animation: slideInLeft 1s forwards !important;
}
.hero .text {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -moz-align-items: center !important;
  -webkit-align-items: center !important;
  -o-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
  -moz-justify-content: space-between !important;
  -webkit-justify-content: space-between !important;
  -o-justify-content: space-between !important;
  -ms-justify-content: space-between !important;
  justify-content: space-between !important;
  padding: 100px 0 200px;
}
.hero .text p {
  margin: 0;
}

.img-hero {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 992px) {
  .img-hero {
    float: none;
    display: table;
    margin: 0 auto;
    padding: 30px 15px;
    clear: both;
    width: 100%;
    max-width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .img-hero {
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .img-hero > img {
    padding: 0;
    max-width: 100%;
    width: 100% !important;
  }
}

#counters {
  padding: 75px 15px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  float: left;
  clear: both;
}
#counters span.counter {
  text-transform: uppercase;
  font-family: "Source-Light", sans-serif;
  color: #FFFFFF;
}
#counters span.counter.h1 {
  font-size: 60px;
}
@media only screen and (max-width: 600px) {
  #counters .item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
#counters .item h4 {
  font-size: 15px;
}
#counters .item .counter-name {
  font-weight: 400;
  letter-spacing: .125em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#bottom-cta {
  padding: 140px 0 190px;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -moz-align-items: center !important;
  -webkit-align-items: center !important;
  -o-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
}
#bottom-cta > .row {
  margin: 0 auto !important;
  display: block;
}
#bottom-cta > .row h2, #bottom-cta > .row p {
  margin-top: 20px;
  margin-bottom: 20px;
}
#bottom-cta > .row p {
  font-size: 16px;
  max-width: 85%;
  margin: 0 auto 20px;
}
#bottom-cta > .row a {
  margin: 0 auto !important;
  float: none !important;
  display: table !important;
  width: auto !important;
}

.read-more {
  color: #1F7EDD;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: .075em;
  text-transform: uppercase;
  text-decoration: none !important;
  float: left;
}
.read-more:hover, .read-more:focus {
  color: #1C71C7 !important;
  text-decoration: none !important;
}

@media only screen and (min-width: 992px) {
  .padding-xl {
    padding: 150px 0;
  }
}

@media only screen and (min-width: 992px) {
  .padding-lg {
    padding: 90px 0;
  }
}

@media only screen and (min-width: 992px) {
  .padding-md {
    padding: 75px 0;
  }
}

@media only screen and (min-width: 992px) {
  .padding-sm {
    padding: 60px 0;
  }
}

@media only screen and (min-width: 992px) {
  .padding-xs {
    padding: 20px 0;
  }
}

.text-underline {
  color: #282828;
  display: inline-block;
  padding-bottom: 4.5px;
  border-bottom: 2px solid #282828;
  font-size: 11px;
  font-weight: 700;
  font-family: "Source-Regular", sans-serif;
  letter-spacing: .125em;
  text-transform: uppercase;
}

.nav-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 2rem;
  display: block;
  margin: 0 auto !important;
  left: 0;
  right: 0;
}
.nav-arrow a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  color: #5E5E5E;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 25px;
}

li, p {
  line-height: 1.75em;
  color: #5E5E5E;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bolder {
  font-weight: bolder;
}

.text-bold {
  font-weight: bold;
}

.text-regular {
  font-weight: 300;
}

.text-light {
  font-weight: 200;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
  color: #5E5E5E;
  text-transform: uppercase;
}

.btn, .nav {
  font-size: 11px !important;
  font-weight: 700 !important;
  letter-spacing: .125em !important;
  text-transform: uppercase;
}

.carousel-indicators {
  display: block !important;
  position: relative !important;
  top: auto;
  left: auto;
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
  bottom: 0 !important;
}

.carousel-indicators li {
  margin: 0 5px !important;
  width: 18px !important;
  height: 18px !important;
  border: 2px solid #C6C6C6 !important;
}

.carousel-indicators > li.active {
  margin: 0 5px;
  width: 18px;
  height: 18px;
  border: 2px solid #1F7EDD !important;
  background: #1F7EDD !important;
}

.carousel-fade.carousel-inner.item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade.carousel-inner.active {
  opacity: 1;
}

.carousel-fade.carousel-inner.active.left, .carousel-fade.carousel-inner.active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.btn-border, .btn-shade {
  padding: 15px 20px !important;
  margin: 0 !important;
  text-align: center !important;
  display: block !important;
  float: left;
  border: none;
  font-weight: 700 !important;
  font-size: 100% !important;
  line-height: 100% !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  text-decoration: none !important;
}

.btn-border {
  border-width: 2px !important;
  border-style: solid !important;
}

.btn-border-blue {
  border-color: #1F7EDD !important;
  color: #1F7EDD !important;
}
.btn-border-blue:hover, .btn-border-blue:focus {
  color: #FFFFFF !important;
  background: #1F7EDD !important;
}

.btn-border-gray {
  border-color: #F7F7F7 !important;
  color: #F7F7F7 !important;
}
.btn-border-gray:hover, .btn-border-gray:focus {
  color: #FFFFFF !important;
  background: #F7F7F7 !important;
}

.btn-border-white {
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
}
.btn-border-white:hover, .btn-border-white:focus {
  color: #1F7EDD !important;
  background: #FFFFFF !important;
}

.btn-shade-blue {
  background: #1F7EDD !important;
  color: #FFFFFF !important;
}
.btn-shade-blue:hover, .btn-shade-blue:focus {
  color: #FFFFFF !important;
  background: #1C71C7 !important;
}

.btn-shade-gray {
  background: #F7F7F7 !important;
  color: #FFFFFF !important;
}
.btn-shade-gray:hover, .btn-shade-gray:focus {
  color: #FFFFFF !important;
  background: #F7F7F7 !important;
}

.btn-shade-white {
  background: #FFFFFF !important;
  color: #F7F7F7 !important;
}
.btn-shade-white:hover, .btn-shade-white:focus {
  color: #FFFFFF !important;
  background: #F7F7F7 !important;
}

form input, form textarea {
  background: transparent !important;
  border: none !important;
  height: auto !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
  font-weight: 700;
  font-size: 1em;
  line-height: 100% !important;
  margin: 30px auto;
  padding: 0 20px !important;
}
@media only screen and (max-width: 600px) {
  form input, form textarea {
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center;
  }
}
form input[type='text'], form input[type='email'], form input[type='tel'], form input[type='number'] {
  min-height: 75px;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  form input[type='text'], form input[type='email'], form input[type='tel'], form input[type='number'] {
    margin: 15px auto;
  }
}
form input[type='submit'] {
  height: auto;
}
@media only screen and (max-width: 600px) {
  form input[type='submit'] {
    margin-top: 15px !important;
    width: 100%;
    display: block !important;
  }
}
form textarea {
  min-height: 190px;
  padding-top: 40px !important;
}

.input-white {
  border-bottom: 2px solid #FFFFFF !important;
  color: #FFFFFF !important;
}
.input-white::-webkit-input-placeholder {
  color: #FFFFFF !important;
  text-transform: uppercase;
}
.input-white:-moz-placeholder {
  color: #FFFFFF !important;
  text-transform: uppercase;
}
.input-white::-moz-placeholder {
  color: #FFFFFF !important;
  text-transform: uppercase;
}
.input-white:-ms-input-placeholder {
  color: #FFFFFF !important;
  text-transform: uppercase;
}

.input-gray {
  border-bottom: 2px solid #C6C6C6 !important;
  color: #C6C6C6 !important;
}
.input-gray::-webkit-input-placeholder {
  color: #C6C6C6 !important;
  text-transform: uppercase;
}
.input-gray:-moz-placeholder {
  color: #C6C6C6 !important;
  text-transform: uppercase;
}
.input-gray::-moz-placeholder {
  color: #C6C6C6 !important;
  text-transform: uppercase;
}
.input-gray:-ms-input-placeholder {
  color: #C6C6C6 !important;
  text-transform: uppercase;
}

.image-box .overlay-container {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
}
.image-box .overlay-container:hover .overlay-bottom, .image-box .overlay-container:hover .overlay-top, .image-box .span-12 ul.wrapper-list li.list .overlay-container:hover .overlay-top, .span-12 ul.wrapper-list li.list .image-box .overlay-container:hover .overlay-top, .image-box .overlay-container:hover .overlay-top {
  height: 50%;
  opacity: 1;
  -moz-filter: alpha(opacity=100) !important;
  -webkit-filter: alpha(opacity=100) !important;
  -o-filter: alpha(opacity=100) !important;
  -ms-filter: alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -o-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -moz-transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  -moz-transform: scale(1,1) !important;
  -webkit-transform: scale(1,1) !important;
  -o-transform: scale(1,1) !important;
  -ms-transform: scale(1,1) !important;
  transform: scale(1,1) !important;
}
.image-box .overlay-container:hover .overlay-to-top {
  height: 100%;
  opacity: 1;
  -moz-filter: alpha(opacity=100) !important;
  -webkit-filter: alpha(opacity=100) !important;
  -o-filter: alpha(opacity=100) !important;
  -ms-filter: alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -o-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -moz-transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  -moz-transform: scale(1,1) !important;
  -webkit-transform: scale(1,1) !important;
  -o-transform: scale(1,1) !important;
  -ms-transform: scale(1,1) !important;
  transform: scale(1,1) !important;
}
.image-box .overlay-container .text {
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
.image-box .overlay-container .overlay-bottom, .image-box .overlay-container .overlay-top, .image-box .span-12 ul.wrapper-list li.list .overlay-container .overlay-top, .span-12 ul.wrapper-list li.list .image-box .overlay-container .overlay-top, .image-box .overlay-container .overlay-to-top {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(77, 65, 54, 0.5);
  opacity: 0;
  -moz-filter: alpha(opacity=0) !important;
  -webkit-filter: alpha(opacity=0) !important;
  -o-filter: alpha(opacity=0) !important;
  -ms-filter: alpha(opacity=0) !important;
  filter: alpha(opacity=0) !important;
  padding: 10px;
  height: 0;
  overflow: hidden;
  -moz-transition: all ease-in-out 0.25s !important;
  -webkit-transition: all ease-in-out 0.25s !important;
  -o-transition: all ease-in-out 0.25s !important;
  -ms-transition: all ease-in-out 0.25s !important;
  transition: all ease-in-out 0.25s !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -o-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -moz-transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  -moz-transform: scale(1,1) !important;
  -webkit-transform: scale(1,1) !important;
  -o-transform: scale(1,1) !important;
  -ms-transform: scale(1,1) !important;
  transform: scale(1,1) !important;
}
.image-box .overlay-container .overlay-top {
  top: 10px;
}
.image-box .overlay-container .overlay-to-top {
  top: 0;
}

#nav-icon2 {
  position: fixed;
  top: 25px;
  right: 40px;
  z-index: 909;
  cursor: pointer;
  overflow: visible;
  -moz-transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  -webkit-transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  -o-transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  -ms-transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  transition: background-color .2s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -o-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}
@media only screen and (max-width: 600px) {
  #nav-icon2 {
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    background: #282828;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -moz-align-items: center !important;
    -webkit-align-items: center !important;
    -o-align-items: center !important;
    -ms-align-items: center !important;
    align-items: center !important;
  }
}
#nav-icon2 span {
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 600px) {
  #nav-icon2 i {
    font-size: 2.75em;
    color: #FFFFFF;
  }
}

.nav-bar .sliding-menu {
  background-color: #282626;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 999;
  -moz-transition: all 0.35s ease !important;
  -webkit-transition: all 0.35s ease !important;
  -o-transition: all 0.35s ease !important;
  -ms-transition: all 0.35s ease !important;
  transition: all 0.35s ease !important;
  height: 100vh;
  width: 250px;
  margin-right: -250px;
}
.nav-bar .sliding-menu span.exit {
  position: relative;
  color: #FFFFFF;
  cursor: pointer;
  left: 20px;
  top: 20px;
}
.nav-bar .sliding-menu.active {
  right: 250px;
}
@media only screen and (max-width: 600px) {
  .nav-bar .sliding-menu.active {
    right: 200px;
  }
}
.nav-bar .sliding-menu ul.nav {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 60px;
}
@media only screen and (max-width: 600px) {
  .nav-bar .sliding-menu ul.nav {
    padding-top: 40px;
  }
}
.nav-bar .sliding-menu ul.nav li {
  display: block;
  margin: 0 auto;
}
.nav-bar .sliding-menu ul.nav li a {
  color: #C8C8C8;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  font-family: "Source-Light", sans-serif;
  padding-left: 0;
  float: left;
  display: block;
}
@media only screen and (max-width: 600px) {
  .nav-bar .sliding-menu ul.nav li a {
    font-size: 14px;
  }
}
.nav-bar .sliding-menu ul.nav li a:hover {
  color: #1F7EDD;
  background: transparent;
}
.nav-bar .sliding-menu ul.nav li a.btn {
  margin-top: 30px !important;
}
.nav-bar .sliding-menu ul.nav li a.btn-center {
  display: block !important;
}
.nav-bar .sliding-menu hr {
  width: 75%;
  border-color: rgba(255, 255, 255, 0.45);
  float: left;
  clear: both;
  display: block;
  margin-bottom: 40px;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .nav-bar .sliding-menu hr {
    margin-bottom: 15px;
  }
}

header > nav.navbar {
  background: transparent !important;
  border-color: transparent !important;
  padding-top: 40px;
  border-width: 0;
  background-clip: padding-box;
  padding-left: 40px;
  padding-right: 40px;
  -moz-transition: border-image 400ms ease !important;
  -webkit-transition: border-image 400ms ease !important;
  -o-transition: border-image 400ms ease !important;
  -ms-transition: border-image 400ms ease !important;
  transition: border-image 400ms ease !important;
}
header > nav.navbar.navbar-shrink {
  -moz-transition: all 200ms ease-in-out !important;
  -webkit-transition: all 200ms ease-in-out !important;
  -o-transition: all 200ms ease-in-out !important;
  -ms-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
  -moz-box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.75) !important;
  -webkit-box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.75) !important;
  -o-box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.75) !important;
  -ms-box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.75) !important;
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.75) !important;
}
@media only screen and (min-width: 992px) {
  header > nav.navbar.navbar-shrink {
    background: #FFFFFF !important;
    padding: 15px 40px;
  }
}
@media only screen and (min-width: 992px) {
  header > nav.navbar.navbar-shrink .navbar-brand {
    max-width: 100%;
    padding: 0;
    margin-left: 0;
  }
}
header > nav.navbar .navbar-brand {
  padding: 0;
  margin: 0 !important;
}
header div.navbar-header {
  position: absolute;
  z-index: 9999;
}
header div#navigation {
  position: relative;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -moz-align-items: center !important;
  -webkit-align-items: center !important;
  -o-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
  float: right;
  width: 75%;
}
header div#navigation ul {
  padding: 0;
}
header div#navigation ul.navbar-center {
  text-align: center;
  width: 100%;
  position: relative;
  left: 8%;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -moz-flex-wrap: wrap !important;
  -webkit-flex-wrap: wrap !important;
  -o-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
header div#navigation ul.navbar-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -moz-align-items: center !important;
  -webkit-align-items: center !important;
  -o-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
}
header div#navigation ul li.active a {
  background: transparent !important;
  color: #1C71C7 !important;
}
header div#navigation ul li.active a::before {
  -moz-transition-delay: 0 !important;
  -webkit-transition-delay: 0 !important;
  -o-transition-delay: 0 !important;
  -ms-transition-delay: 0 !important;
  transition-delay: 0 !important;
}
header div#navigation ul li.active a::before, header div#navigation ul li.active a::after {
  -moz-transform: scale3d(1,1,1) !important;
  -webkit-transform: scale3d(1,1,1) !important;
  -o-transform: scale3d(1,1,1) !important;
  -ms-transform: scale3d(1,1,1) !important;
  transform: scale3d(1,1,1) !important;
}
header div#navigation ul li.active a:focus, header div#navigation ul li.active a:hover {
  color: #1C71C7 !important;
}
header div#navigation ul li a {
  color: #5E5E5E;
  line-height: 26px;
  cursor: pointer;
  font-family: "Source-Regular", sans-serif;
  font-weight: 700;
  position: relative;
  margin: 0 1em;
  font-size: 12px;
  padding: 10px 0 5px;
  -moz-transition: color 0.35s !important;
  -webkit-transition: color 0.35s !important;
  -o-transition: color 0.35s !important;
  -ms-transition: color 0.35s !important;
  transition: color 0.35s !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -o-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
header div#navigation ul li a::before {
  background: #1F7EDD;
  -moz-transition-delay: 0.4s !important;
  -webkit-transition-delay: 0.4s !important;
  -o-transition-delay: 0.4s !important;
  -ms-transition-delay: 0.4s !important;
  transition-delay: 0.4s !important;
}
header div#navigation ul li a::before, header div#navigation ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -moz-transform: scale3d(0,1,1) !important;
  -webkit-transform: scale3d(0,1,1) !important;
  -o-transform: scale3d(0,1,1) !important;
  -ms-transform: scale3d(0,1,1) !important;
  transform: scale3d(0,1,1) !important;
  -moz-transform-origin: center left !important;
  -webkit-transform-origin: center left !important;
  -o-transform-origin: center left !important;
  -ms-transform-origin: center left !important;
  transform-origin: center left !important;
  -moz-transition: transform 0.4s cubic-bezier(0.22,0.61,0.36,1) !important;
  -webkit-transition: transform 0.4s cubic-bezier(0.22,0.61,0.36,1) !important;
  -o-transition: transform 0.4s cubic-bezier(0.22,0.61,0.36,1) !important;
  -ms-transition: transform 0.4s cubic-bezier(0.22,0.61,0.36,1) !important;
  transition: transform 0.4s cubic-bezier(0.22,0.61,0.36,1) !important;
}
header div#navigation ul li.start-project a {
  color: #FFFFFF;
}

.navbar-brand img {
  background-size: cover;
  width: 230px;
}

article#content {
  padding-top: 50px;
}
@media only screen and (max-width: 992px) {
  article#content {
    float: left;
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  article#content > div#ourServices {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 992px) {
  article#content > div#intro, article#content > div#whoWeAre, article#content > div#ourServices {
    height: auto;
    display: block !important;
    float: left;
    -moz-align-items: unset !important;
    -webkit-align-items: unset !important;
    -o-align-items: unset !important;
    -ms-align-items: unset !important;
    align-items: unset !important;
  }
}

footer#site-footer {
  background: #161616;
  padding: 45px 0;
  margin: 0 auto;
  float: left;
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  footer#site-footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
footer#site-footer .widgets h4 {
  color: #FFFFFF;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .125em;
  text-transform: uppercase;
  font-family: "Colfax-Regular", "Helvetica Neue", "Helvetica", Arial, sans-serif !important;
}
footer#site-footer .widgets ul {
  padding: 0;
  margin: 0;
}
footer#site-footer .widgets ul li {
  padding: 0;
  width: 100%;
  float: left;
  text-align: left;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .125em;
  text-transform: uppercase;
  line-height: 2.5em;
  color: #C6C6C6;
}
footer#site-footer .widgets ul li a {
  color: #C6C6C6;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}
footer#site-footer .widgets ul li a:focus, footer#site-footer .widgets ul li a:hover {
  color: #1F7EDD;
}
footer#site-footer .widgets .menu-area {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer#site-footer .bottom-footer #footer-logo, footer#site-footer .bottom-footer #copyright, footer#site-footer .bottom-footer #social-media {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  float: left;
}
footer#site-footer .bottom-footer #footer-logo img {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
footer#site-footer .bottom-footer #copyright h5 {
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .125em;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  footer#site-footer .bottom-footer #copyright.text-center {
    text-align: unset;
  }
}
footer#site-footer .bottom-footer #social-media ul {
  width: auto;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  footer#site-footer .bottom-footer #social-media ul {
    text-align: left;
  }
}
footer#site-footer .bottom-footer #social-media ul li {
  display: inline;
  padding: 0 10px;
}
footer#site-footer .bottom-footer #social-media ul li a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}
footer#site-footer .bottom-footer #social-media ul li a:focus, footer#site-footer .bottom-footer #social-media ul li a:hover {
  color: #1F7EDD;
}

#intro a {
  margin: 0 auto !important;
  float: none;
  display: table !important;
}
#intro ul {
  display: table;
  float: none;
  margin: 15px auto 45px;
  list-style: none;
  width: auto;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #intro ul {
    margin-bottom: 25px !important;
  }
}
#intro ul li {
  display: inline-block;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  #intro ul li {
    display: block;
  }
}
#intro ul li::after {
  content: '';
  border-right: 2px solid #C6C6C6;
  margin: 0 20px;
  padding: 0;
  position: relative;
}
@media only screen and (max-width: 600px) {
  #intro ul li::after {
    display: none;
  }
}
#intro ul li:last-child::after {
  display: none;
}

#caseStudies {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -moz-align-items: flex-start !important;
  -webkit-align-items: flex-start !important;
  -o-align-items: flex-start !important;
  -ms-align-items: flex-start !important;
  align-items: flex-start !important;
  padding-top: 18vh;
  padding-bottom: 0;
  clear: both;
}
@media only screen and (max-width: 600px) {
  #caseStudies {
    padding-top: 50px;
    display: block !important;
    -moz-align-items: center !important;
    -webkit-align-items: center !important;
    -o-align-items: center !important;
    -ms-align-items: center !important;
    align-items: center !important;
  }
}
#caseStudies h5 {
  display: table;
}
#caseStudies ul.wrapper-list {
  padding-top: 8vh;
}
@media only screen and (max-width: 600px) {
  #caseStudies ul.wrapper-list {
    margin: 40px auto 0;
  }
}

#contactUs {
  padding: 15vh 30px;
  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  #contactUs {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-top: 25px;
  }
}

#intro,
#whoWeAre,
#ourServices {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -moz-align-items: center !important;
  -webkit-align-items: center !important;
  -o-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  #intro,
  #whoWeAre,
  #ourServices {
    height: 100%;
    min-height: 75vh;
  }
}
#intro img,
#whoWeAre img,
#ourServices img {
  padding: 20px 15px;
  width: 95%;
}
@media only screen and (max-width: 600px) {
  #intro img,
  #whoWeAre img,
  #ourServices img {
    padding: 0;
    max-width: 100%;
    width: 100% !important;
  }
}
#intro .container,
#whoWeAre .container,
#ourServices .container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.span-12 ul.wrapper-list li.list {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.span-12 ul.wrapper-list li.list.list-lg {
  height: 872px;
}
.span-12 ul.wrapper-list li.list.list-lg .image-box {
  height: inherit;
}
.span-12 ul.wrapper-list li.list.list-lg .image-box .overlay-container {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.span-12 ul.wrapper-list li.list .image-box {
  height: 100%;
  width: 100%;
  display: block;
  float: left;
}
@media only screen and (max-width: 600px) {
  .span-12 ul.wrapper-list li.list .image-box {
    height: auto;
  }
}
.span-12 ul.wrapper-list li.list .overlay-container {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
}
.span-12 ul.wrapper-list li.list .overlay-container:hover .overlay-to-top {
  height: 100%;
  opacity: 1;
  -moz-filter: alpha(opacity=100) !important;
  -webkit-filter: alpha(opacity=100) !important;
  -o-filter: alpha(opacity=100) !important;
  -ms-filter: alpha(opacity=100) !important;
  filter: alpha(opacity=100) !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -o-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -moz-transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  -moz-transform: scale(1,1) !important;
  -webkit-transform: scale(1,1) !important;
  -o-transform: scale(1,1) !important;
  -ms-transform: scale(1,1) !important;
  transform: scale(1,1) !important;
}
.span-12 ul.wrapper-list li.list .overlay-container .light-red {
  background: rgba(222, 48, 19, 0.75);
}
.span-12 ul.wrapper-list li.list .overlay-container .light-yellow {
  background: rgba(255, 210, 0, 0.75);
}
.span-12 ul.wrapper-list li.list .overlay-container .light-blue {
  background: rgba(31, 126, 221, 0.75);
}
.span-12 ul.wrapper-list li.list .overlay-container .text {
  margin: 50px 0;
  float: left;
  height: 100%;
  max-height: 380px;
}
@media only screen and (max-width: 600px) {
  .span-12 ul.wrapper-list li.list .overlay-container .text {
    margin: 15px 0;
    max-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    width: 100%;
  }
}
.span-12 ul.wrapper-list li.list .overlay-container .text h2, .span-12 ul.wrapper-list li.list .overlay-container .text p, .span-12 ul.wrapper-list li.list .overlay-container .text button {
  display: block;
  opacity: 1;
}
.span-12 ul.wrapper-list li.list .overlay-container .text h2, .span-12 ul.wrapper-list li.list .overlay-container .text p {
  text-align: left;
  float: left;
  -moz-transition: all .25s ease-in-out !important;
  -webkit-transition: all .25s ease-in-out !important;
  -o-transition: all .25s ease-in-out !important;
  -ms-transition: all .25s ease-in-out !important;
  transition: all .25s ease-in-out !important;
}
.span-12 ul.wrapper-list li.list .overlay-container .text h2 {
  width: 100%;
  font-size: 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 5px auto;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .span-12 ul.wrapper-list li.list .overlay-container .text h2 {
    text-align: center;
    font-size: 25px;
  }
}
.span-12 ul.wrapper-list li.list .overlay-container .text p {
  width: 60%;
  text-decoration: none;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.95);
  line-height: 145%;
  padding: 10px 0;
}
@media only screen and (max-width: 600px) {
  .span-12 ul.wrapper-list li.list .overlay-container .text p {
    display: none;
  }
}
.span-12 ul.wrapper-list li.list .overlay-container .text button {
  clear: both;
  background: transparent;
}
.span-12 ul.wrapper-list li.list .overlay-container .overlay-bottom, .span-12 ul.wrapper-list li.list .overlay-container .overlay-top, .span-12 ul.wrapper-list li.list .overlay-container .overlay-to-top {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: -10px;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 10px;
  overflow: hidden;
  height: 0;
  -moz-filter: alpha(opacity=0) !important;
  -webkit-filter: alpha(opacity=0) !important;
  -o-filter: alpha(opacity=0) !important;
  -ms-filter: alpha(opacity=0) !important;
  filter: alpha(opacity=0) !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -o-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -moz-transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  -moz-transform: scale(1,1) !important;
  -webkit-transform: scale(1,1) !important;
  -o-transform: scale(1,1) !important;
  -ms-transform: scale(1,1) !important;
  transform: scale(1,1) !important;
  -moz-transition: all ease-in-out 0.25s !important;
  -webkit-transition: all ease-in-out 0.25s !important;
  -o-transition: all ease-in-out 0.25s !important;
  -ms-transition: all ease-in-out 0.25s !important;
  transition: all ease-in-out 0.25s !important;
}
@media only screen and (max-width: 600px) {
  .span-12 ul.wrapper-list li.list .overlay-container .overlay-to-top {
    opacity: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
  }
}
.span-12 ul.wrapper-list li.list .overlay-container .overlay-top {
  top: 10px;
}
.span-12 ul.wrapper-list li.list .overlay-container .overlay-to-top {
  bottom: 0;
}
@media only screen and (max-width: 600px) {
  .span-12 ul.wrapper-list li.list .overlay-container .overlay-to-top {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -moz-align-items: center !important;
    -webkit-align-items: center !important;
    -o-align-items: center !important;
    -ms-align-items: center !important;
    align-items: center !important;
  }
}

.span {
  padding: 0;
  margin: 0;
}
.span ul.wrapper-list li.list .image-box .overlay-container2 {
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 {
  height: 100% !important;
  opacity: 1;
  filter: alpha(opacity=100);
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .light-red {
  background: rgba(222, 48, 19, 0.75);
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .light-yellow {
  background: rgba(255, 210, 0, 0.75);
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .light-blue {
  background: rgba(31, 126, 221, 0.75);
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .text2 {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 10px;
  overflow: hidden;
  -moz-filter: alpha(opacity=0) !important;
  -webkit-filter: alpha(opacity=0) !important;
  -o-filter: alpha(opacity=0) !important;
  -ms-filter: alpha(opacity=0) !important;
  filter: alpha(opacity=0) !important;
}
@media only screen and (max-width: 600px) {
  .span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .text2 {
    padding: 20px;
  }
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .text2 h2, .span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .text2 p {
  text-align: left;
  float: left;
  -moz-transition: all .25s ease-in-out !important;
  -webkit-transition: all .25s ease-in-out !important;
  -o-transition: all .25s ease-in-out !important;
  -ms-transition: all .25s ease-in-out !important;
  transition: all .25s ease-in-out !important;
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .text2 h2 {
  width: 80%;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .text2 h2 p.project-desc {
  width: 70%;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  line-height: 140%;
  padding: 10px 0;
}
.span ul.wrapper-list li.list .image-box .overlay-container2 .overlay-to-top2 .text2 button.btn-border2 {
  clear: both;
  border: 2px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 80%;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .text2 h2 {
    font-size: 25px;
  }
  .text2 h2:first-child {
    padding-top: 10px;
  }
  .text2 p {
    font-size: 14px;
    line-height: 130%;
    width: 80%;
    color: #fff;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .text2 button.btn-border2 {
    font-size: 80%;
  }
}
@media only screen and (max-width: 320px) {
  .text2 {
    padding: 0;
  }
  .text2 h2 {
    font-size: 20px;
  }
  .text2 h2:first-child {
    padding-top: 0;
  }
  .text2 p {
    font-size: 13px;
    line-height: 120%;
    width: 80%;
    color: #fff;
    display: block;
    padding: 10px 0;
    margin: 0;
  }
  .text2 button.btn-border2 {
    padding: 5px 10px;
    font-size: 20%;
  }
}
.with-errors, .help-block li {
  color: #FFFFFF;
}
@media only screen and (max-width: 600px) {
  .with-errors, .help-block li {
    font-size: 12px;
    padding: 0 5px;
    text-align: center;
  }
}
