// Background Size
@mixin background-size($args) {
  @include prefixer("background-size", $args);
}

// Border Radius
@mixin border-radius($args) {
  @include prefixer("border-radius", $args);
}

// Box Shadow
@mixin box-shadow($args) {
  @include prefixer("box-shadow", $args);
}

// Box Sizing
@mixin box-sizing($args) {
  @include prefixer("box-sizing", $args);
}

@mixin border-box() {
  @include box-sizing(border-box);
}

@mixin content-box() {
  @include box-sizing(content-box);
}

// Flexbox
@mixin flexbox() {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

@mixin flex($val) {
  -webkit-box-flex: $val !important;
  -moz-box-flex:  $val !important;
  -webkit-flex:  $val !important;
  -ms-flex:  $val !important;
  flex:  $val !important;
}

@mixin align-items($val) {
  @include prefixer("align-items", $val);
}

@mixin flex-wrap($val) {
  @include prefixer("flex-wrap", $val);
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin align($align) {
  -webkit-flex-align: $align !important;
  -ms-flex-align: $align !important;
  -webkit-align-items: $align !important;
  align-items: $align !important;
}

@mixin justify-content($val) {
  @include prefixer("justify-content", $val);
}

// User Select
@mixin user-select($val) {
  @include prefixer("user-select", $val);
}

// Animation
@mixin animation($val) {
  @include prefixer("animation", $val);
}

// Transforms
@mixin transform($args) {
  @include prefixer("transform", $args);
}

@mixin transform-origin($args) {
  @include prefixer("transform-origin", $args);
}

@mixin transform-style($style) {
  @include prefixer("transform-style", $style);
}

// Transitions
@mixin transition($args) {
  @include prefixer("transition", $args);
}

@mixin transition-delay($delay:0) {
  @include prefixer("transition-delay", $delay);
}

@mixin transition-duration($duration:200ms) {
  @include prefixer("transition-duration", $duration);
}

@mixin transition-property($property:all) {
  @include prefixer("transition-property", $property);
}

@mixin transition-timing-function($function:ease) {
  @include prefixer("transition-timing-function", $function);
}

// Filter
@mixin filter($function) {
  @include prefixer("filter", $function);
}

// Backface Visibility
@mixin backface-visibility($function) {
  @include prefixer("backface-visibility", $function);
}