// #intro
#intro {
	a {
		margin: 0 auto !important;
		float: none;
		display: table !important;
	}
	ul {
		display: table;
		float: none;
		margin: 15px auto 45px;
		list-style: none;
		width: auto;
		text-align: center;
		@media #{$sm-and-down} {
			margin-bottom: 25px !important;
		}
		li {
			display: inline-block;
			padding: 0;
			@media #{$sm-and-down} {
				display: block;
			}
			&::after {
				content: '';
				border-right: 2px solid color('gray', 'light-1');
				margin: 0 20px;
				padding: 0;
				position: relative;
				@media #{$sm-and-down} {
					display: none;
				}
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
}

// #whoWeAre
#whoWeAre {

}

// #caseStudies
#caseStudies {
	@include flexbox();
	@include align-items('flex-start');
	padding-top: 18vh;
	padding-bottom: 0;
	clear: both;
	@media #{$sm-and-down} {
		padding-top: 50px;
		display: block !important;
		@include align-items('center');
	}
 	h5 {
		display: table;
	}
	ul {
		&.wrapper-list {
			padding-top: 8vh;
			@media #{$sm-and-down} {
				margin: 40px auto 0;
			}
		}
	}
}

// #ourServices
#ourServices {

}

// #contactUs
#contactUs {
	padding: 15vh 30px;
  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
	@media #{$sm-and-down} {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 0;
		padding-top: 25px;
	}
}

#intro,
#whoWeAre,
#ourServices {
	@include flexbox();
	@include align-items('center');
	height: 100vh;
	@media #{$sm-and-down} {
		height: 100%;
		min-height: 75vh;
	}
	img {
		padding: 20px 15px;
		width: 95%;
		@media #{$sm-and-down} {
			padding: 0;
			max-width: 100%;
			width: 100% !important;
		}
	}
	.container {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

// -----large screen #caseStudies-------------
.span-12 {
	ul.wrapper-list{
		li.list {
	 		margin: 0;
	 		overflow: hidden;
	 		padding: 0;
	 		&.list-lg {
	 			height: 872px;
	 			.image-box {
	 				height: inherit;
	 				.overlay-container {
	 					position: absolute;
	 					bottom: 0;
	 					top: 0;
	 					height: 100%;
	 					width: 100%;
	 				}
	 			}
	 		}
			.image-box {
				height: 100%;
				width: 100%;
				display: block;
				float: left;
				@media #{$sm-and-down} {
					height: auto;
				}
			}
			.overlay-container {
				position: relative;
		    display: block;
		    text-align: center;
		    overflow: hidden;
		    &:hover {
		    	.overlay-to-top{
						height: 100%;
				    opacity: 1;
				    @include filter('alpha(opacity=100)');
						@include backface-visibility('hidden');
						@include transform('translateZ(0)');
						@include transform('scale(1,1)');
		    	}
	    	}
		    .light-red {
		    	background: $light-red;
		    }
		    .light-yellow {
		    	background: $light-yellow;
		    }
		    .light-blue {
		    	background: $light-blue;
		    }
		    .text{
		    	margin: 50px 0;
		    	float: left;
		    	height: 100%;
		    	max-height: 380px;
		    	@media #{$sm-and-down} {
		    		margin: 15px 0;
		    		max-height: 100%;
		    		padding-left: 15px;
		    		padding-right: 15px;
		    		height: auto;
		    		width: 100%;
		    	}
		    	h2, p, button {
		    		display: block;
		    		opacity: 1;
					}
		    	h2, p {
		    		text-align: left;
		    		float: left;
		    		@include transition('all .25s ease-in-out');
		    	}
					h2 {
						width: 100%;
						font-size: 45px;
						letter-spacing: 2px;
						text-transform: uppercase;
						margin: 5px auto;
						font-weight: bold;
						@media #{$sm-and-down} {
							text-align: center;
							font-size: 25px;
						}
		 	    }
					p {
						width: 60%;
					  text-decoration: none;
					  font-size: 20px;
					  color: rgba(255,255,255,0.95);
					  line-height: 145%;
					  padding: 10px 0;
				  	@media #{$sm-and-down} {
				  		display: none;
				  	}
					}
					button {
						clear: both;
						background: color('shades', 'transparent');
					}
		    }
				.overlay-bottom , .overlay-to-top {
					color: color('shades', 'white');
			    position: absolute;
			    top: 0;
			    bottom: -10px;
			    left: 0;
			    right: 0;
			    opacity: 0;
			    padding: 10px;
			    overflow: hidden;
			    height: 0;
			    @include filter('alpha(opacity=0)');
			    @include backface-visibility('hidden');
			    @include transform('translateZ(0)');
			    @include transform('scale(1,1)');
			    @include transition(all ease-in-out .25s);			
				}
				.overlay-to-top {
			    @media #{$sm-and-down} {
			    	opacity: 1;
			    	height: 100%;
			    	background: rgba(color('shades', 'black'), 0.45);
			    }
				}
				.overlay-top {
					@extend .overlay-bottom;
					top: 10px;
				}
				.overlay-to-top {
					bottom: 0;
					@media #{$sm-and-down} {
						@include flexbox();
						@include align-items('center');
					}
				}
			}
		}
	}		
}

// ----- #caseStudies -------
.span {
	padding: 0;
	margin: 0;
	ul.wrapper-list {
		li.list {
			.image-box {
				.overlay-container2 {
					position: relative;
			    display: block;
			    text-align: center;
			    overflow: hidden;
					.overlay-to-top2 {
						height: 100%!important;
				    opacity: 1;
				    filter: alpha(opacity=100);
				   	.light-red {
				    	background: $light-red;
				   	}
				   	.light-yellow {
				   		background: $light-yellow;
				   	}
				   	.light-blue {
					   	background: $light-blue;
						}
						.text2 {
							color: color('shades', 'white');
					    position: absolute;
					    top: 0;
					    bottom: 0;
					    left: 0;
					    right: 0;
					    padding: 25px 10px;
					    overflow: hidden;
					    @include filter('alpha(opacity=0)');
					    @media #{$sm-and-down} {
								padding: 20px;
					    }
					 		h2, p {
				    		text-align: left;
				    		float: left;
				    		@include transition('all .25s ease-in-out');
				    	}
							h2 {
								width: 80%;
						    font-size: 20px;
						    letter-spacing: 2px;
						    text-transform: uppercase;
						    margin: 0;
						    font-weight: bold;
								p.project-desc {
					    		width: 70%;
							    text-decoration: none;
							    font-size: 15px;
							    color: #fff;
							    line-height: 140%;
							    padding: 10px 0;
								}
					    }
							button.btn-border2 {
								clear: both;
								border: 2px solid color('shades','white');
								background: color('shades', 'transparent');
								color: color('shades', 'white');
								padding: 10px;
						    text-align: center;
						    display: block;
						    float: left;
						    font-weight: 700;
						    font-size: 80%;
						    line-height: 100%;
						    text-transform: uppercase;
						    letter-spacing: 1px;
						    text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}
			
@media #{$sm-and-down} {
	.text2 {
		h2 {
		    font-size: 25px;
	    }
	    h2:first-child{
	    	padding-top: 10px;
	    }
	    p {
		    font-size: 14px ;
		    line-height: 130% ;
		    width: 80% ;
		    color: #fff;
		    display: block;
		    padding-top: 10px;
		    padding-bottom: 5px;

	    }
	    button.btn-border2 {
	    	//padding: 10px 15px;
	    	font-size: 80%;
	    }
	}
}

@media #{$xs-and-down} {
	.text2 {
		padding: 0;
	h2 {
	    font-size: 20px;

    }
    h2:first-child{
    	padding-top: 0;
    	
    }
    p {
	    font-size: 13px;
	    line-height: 120%;
	    width: 80%;
	    color: #fff;
	    display: block;
	    padding: 10px 0;
	    margin:0;
	    
    }
    button.btn-border2 {
		padding: 5px 10px ;
		font-size: 20%;
    	}
	}
}

// Form error
.with-errors, .help-block li {
	color: color('shades', 'white');
	@media #{$sm-and-down} {
		font-size: 12px;
		padding: 0 5px;
		text-align: center;
	}
}
